@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
$mainColor: #ee4650;
$secondColor: #20323e;

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

@font-face {
  font-family: Neo_Sans;
  src: url("../fonts/Neo\ Sans\ Arabic\ Regular.ttf");
}

body {
  font-family: "Raleway", sans-serif;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.slider-item {
  &:focus {
    outline: 0 !important;
  }
}

.btn {
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

// pagination
.pagination-parent {
  position: relative;
  margin-top: 50px;
}
.pagination {
  // position: absolute;
  // left: 50%;
  // width: 100%;
  overflow: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  // transform: translate(-50%, 0);
  .page-item {
    .page-link {
      border: 0;
      background-color: transparent;
      color: #000;
      font-size: 14px;
      margin: 5px;
      border: 1px solid #c4c1c1;
      // border-radius: 50%;
    }
    .active {
      background-color: $mainColor;
      color: #fff;
    }
  }
}

// top header
.top-header {
  background-color: $mainColor;
  padding: 5px;
  .lang {
    text-align: left;
    text-decoration: underline;
    a {
      color: #fff;
      outline: 0 !important;
    }
  }
  .social {
    text-align: right;
    a {
      display: inline-block;
      margin-left: 10px;
      i {
        color: #fff;
      }
    }
  }
}

// navbar
.navbar {
  background-color: $secondColor;
  padding-top: 30px;
  padding-bottom: 30px;
  .navbar-brand {
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    &:hover {
      color: #fff;
    }
    &:focus {
      color: #fff;
    }
  }
  .navbar-nav {
    margin-left: auto;
    margin-top: 10px;
    .nav-item {
      .nav-link {
        color: #fff;
        transition: all 0.5s ease;
        font-size: 15px;
        &:hover {
          color: $mainColor;
        }
      }
    }
    .active {
      .nav-link {
        color: $mainColor;
      }
    }
  }
}

.header {
  @extend %imgAsBackGround;
  height: 580px;
  .header-content {
    padding-top: 130px;
    h6,
    h5,
    p,
    a {
      color: #fff;
    }
    h6 {
      font-size: 36px;
    }
    h5 {
      font-size: 57px;
      font-weight: 700;
    }
    p {
      width: 50%;
      margin-top: 15px;
      font-size: 15px;
    }
    .btn {
      background-color: $mainColor;
      width: 201px;
      border-radius: 26px;
      margin-top: 20px;
      &:hover {
        background-color: #fff;
        color: $mainColor;
      }
    }
  }
}

.section-header {
  text-align: center;
  h5 {
    font-size: 44px;
    font-weight: bold;
  }
  p {
    margin-top: 15px;
    font-size: 16px;
    width: 50%;
    margin: auto;
  }
}

.services {
  margin-top: 95px;
  .section-header {
    margin-bottom: 30px;
  }
  .card-serv {
    text-align: center;
    border: 0;
    margin-bottom: 20px;
    height: 300px;
    // border: 1px solid #000;
    .card-img {
      width: 138px;
      height: 138px;
      line-height: 138px;
      text-align: center;
      background-color: $mainColor;
      margin: auto;
      border-radius: 50%;
      transition: all 0.5s ease;
      img {
        width: auto;
        height: auto;
      }
    }
    .card-title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 26px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
    .card-text {
      font-size: 18px;
      position: relative;
      padding-bottom: 20px;
      &::after {
        content: "";
        position: absolute;
        width: 53px;
        height: 6px;
        background-color: $secondColor;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 23px;
        transition: all 0.5s ease;
      }
    }
    &:hover {
      .card-img {
        background-color: $secondColor;
      }
      .card-text {
        &::after {
          background-color: #007b76;
        }
      }
    }
  }
}

.we-are {
  margin-top: 80px;
  .row {
    margin: 0;
    .col-lg-6 {
      padding: 0;
    }
  }
  .we-are-img {
    @extend %imgAsBackGround;
    height: 544px;
  }
  .we-are-content {
    background-color: $mainColor;
    height: 544px;
    padding-top: 120px;
    padding-left: 90px;
    .content {
      width: 70%;
    }
    h5 {
      color: #fff;
      font-weight: bold;
      font-size: 41px;
    }
    p {
      font-size: 17px;
      color: #fff;
    }
    .btn {
      background-color: $secondColor;
      width: 201px;
      border-radius: 26px;
      margin-top: 20px;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: $secondColor;
      }
    }
  }
}

.universities {
  margin-top: 80px;
  .section-header {
    margin-bottom: 60px;
  }
  .card {
    background-color: $mainColor;
    border: 0;
    transition: all 0.5s ease;
    height: 467px;
    margin-bottom: 20px;
    .card-img {
      height: 230px;
      // @extend %imgAsBackGround;
    }
    .card-body {
      text-align: center;
      .card-title {
        color: #fff;
        font-size: 20px;
      }
      .card-text {
        color: #fff;
        font-size: 15px;
        margin-top: 19px;
      }
      .btn {
        background-color: $secondColor;
        color: #fff;
        width: 156px;
        border-radius: 20px;
        transition: all 0.5s ease;
        margin-top: 19px;
        &:hover {
          background-color: #fff;
          color: $secondColor;
        }
      }
    }
    &:hover {
      background-color: $secondColor;
      .btn {
        background-color: #0c1922;
      }
    }
  }
}

.adventages {
  background-color: $secondColor;
  padding-top: 100px;
  padding-bottom: 60px;
  margin-top: 105px;
  .adv-header {
    text-align: center;
    margin-bottom: 70px;
    h5 {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
    }
  }
  .card {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    margin-bottom: 35px;
    .card-icon {
      position: absolute;
      left: 0;
      top: 0;
      i {
        color: $mainColor;
      }
    }
    .card-body {
      padding: 0;
      padding-left: 25px;
      .card-title {
        color: #fff;
        font-size: 18px;
      }
      .card-text {
        color: #c2cad3;
        font-size: 14px;
      }
    }
  }
}

.contact {
  height: 664px;
  @extend %imgAsBackGround;
  padding-top: 71px;
  .form-parent {
    // width: 90%;
    height: 540px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    form {
      width: 70%;
      margin: auto;
      h6 {
        font-size: 16px;
        color: #868686;
      }
      h5 {
        color: #707070;
        font-size: 36px;
        font-weight: bold;
        position: relative;
        padding-bottom: 10px;
        span {
          color: $mainColor;
        }
        &::after {
          content: "";
          position: absolute;
          width: 71px;
          height: 4px;
          background-color: $mainColor;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      p {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      .form-group {
        margin-bottom: 30px;
      }
      .form-control {
        height: 50px;
        border-radius: 20px;
        border: 1px solid #cccccc;
      }
      textarea {
        height: 100px !important;
      }
      .btn {
        width: 160px;
        background-color: $mainColor;
        color: #fff;
        margin-top: 30px;
        border-radius: 22px;
        &:hover {
          background-color: #fff;
          color: $mainColor;
        }
      }
    }
  }
}

.path{
  background-image: url('../images/path.png');
  height: 245px;
  @extend %imgAsBackGround;
  text-align: center;
  padding-top: 90px;
  h5{
    color: #fff;
    font-size: 24px;
  }
  .links{
    a{
      color: #fff;
      font-size: 14px;
      &::after{
        content: "/";
        margin-left: 3px;
      }
      &:last-child{
        &::after{
          content: "" !important; 
        }
      }
    }
  }
}

.services-details{
  margin-top: 83px;
  h5{
    font-size: 24px;
  }
  .authur{
    font-size: 14px;
    color: #435179;
    margin-bottom: 30px;
  }
  p{
    font-size: 14px;
    line-height: 28px;
    color: #494949;
  }
}

.share{
  margin-top: 75px;
  margin-bottom: 90px;
  .share-header{
    font-size: 13px;
  }
  a{
    width: 58px;
    height: 22px;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    line-height: 22px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  i{
    font-size: 12px;
  }
  .fa-facebook-f{
    color: #408DE4;
  }
  .fa-twitter{
    color: #63BBDF;
  }
  .fa-pinterest-p{
    color: #C01617;
  }
  span{
    font-size: 10px;
  }
}

.unevirsity-details{
  margin-top: 83px;
  h5{
    font-size: 24px;
  }
  .authur{
    font-size: 14px;
    color: #435179;
    margin-bottom: 30px;
  }
  p{
    font-size: 14px;
    line-height: 28px;
    color: #494949;
  }
  .un-img{
    margin-bottom: 30px;
    img{
      max-height: 450px;
    }
  }
}

footer {
  background-color: $secondColor;
  padding-top: 130px;
  padding-bottom: 50px;
  .footer-logo {
    h5,
    p {
      color: #fff;
    }
    p {
      width: 70%;
    }
    h5 {
      font-size: 32px;
      font-weight: 800;
    }
    p {
      font-size: 15px;
    }
  }
  .links {
    h5 {
      color: #fff;
      margin-bottom: 30px;
    }
    li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 15px;
      &::before {
        content: "\f105";
        @extend %initlizeFonAwesomeAfter;
        color: #fff;
        position: absolute;
        left: 0;
        top: 5px;
      }
      a {
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
      }
    }
  }
  .footer-contact {
    h5 {
      color: #fff;
      margin-bottom: 30px;
    }
    .card {
      position: relative;
      background-color: transparent;
      border-radius: 0;
      border: 0;
      // margin-bottom: 35px;
      border-bottom: 1px dashed $mainColor;
      padding-bottom: 30px;
      margin-top: 20px;
      .card-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        text-align: center;
        line-height: 27px;
        background-color: $mainColor;
        i {
          color: #fff;
        }
      }
      .card-body {
        padding: 0;
        padding-left: 35px;
        padding-top: 5px;
        .card-title {
          color: $mainColor;
          font-size: 15px;
          margin: 0;
        }
        .card-text {
          color: #fff;
          font-size: 15px;
          margin: 0;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .copy {
    text-align: center;
    margin-top: 30px;
    h5 {
      margin: 0;
      color: #fff;
      font-size: 15px;
    }
  }
}

@media (max-width: 800px) {
  .we-are {
    .we-are-content {
      // padding-top: 80px;
      padding-left: 30px;
      .content {
        width: 100% !important;
      }
    }
  }
  .contact {
    height: auto;
    padding-bottom: 100px;
    .form-parent {
      height: auto;
      padding-bottom: 50px;
    }
  }
  footer{
    .footer-contact{
      margin-top: 40px;
    }
  }
}

@media (max-width: 524px) {
  .header {
    height: auto;
    padding-bottom: 50px;
    .header-content {
      p {
        width: 100%;
      }
    }
  }
  .contact {
    form {
      width: 100% !important;
    }
  }
  footer{
    .links{
      margin-top: 40px;
    }
  }
}

@media (max-width: 376px) {
  .header {
    height: auto;
    padding-bottom: 50px;
    .header-content {
      p {
        width: 100%;
      }
      h6 {
        font-size: 30px;
      }
      h5 {
        font-size: 40px;
      }
    }
  }
  .we-are-content {
    height: auto !important;
    padding-bottom: 50px;
  }
}

%imgAsBackGround {
  background-size: cover;
  background-position: center;
}

%setItemInTheCenter {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%initlizeFonAwesomeAfter {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
}

%headerArrows {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: $mainColor;
}

%account-tab-content-style {
  border: 0;
  border-radius: 6px;
  padding: 34px 40px 40px 40px;
}

%account-card-style {
  border: 1px solid #dfdfdf;
  border-radius: 6px;
}

// select2
.select2-container {
  height: 50px;
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 50px;
  border: 1px solid #ced4da;
  &:focus {
    outline: 0;
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  line-height: 50px;
  height: 50px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 50px;
}
